{deps, [
  {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
  {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}}
]}.

{erl_opts, [{parse_transform, lager_transform}]}.